.img_1{
    float:left;
    padding-left:20px;
    padding-right:20px;
}
.step-1{
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
}
.img_2 {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}